@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
     color: #fff;  
     overflow-x: hidden; /*Ensure text is readable on the dark background */
               
    }